/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("../assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("../assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("../assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}
.project {
  position: relative;
  overflow: hidden; /* Ensure content does not overflow */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}
@media (max-width: 768px) {
  .my-logo {
    width: 100px;
    height: auto;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link  {
  font-weight: 400;
  color: #fff ;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link:active
 {
  opacity: 1;
  color: rgba(82, 240, 225, 1);

}
span.navbar-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* ======== to check styles ===*/
.navbar-text {
  display: flex;
  align-items: flex-start; /* Align items vertically */
  margin-top: 0;
  margin-left: 16px; /* Add some margin for spacing if needed */
}
.navbar-nav {
  display: flex; /* Ensure links are aligned in a row */
  align-items: start; /* Align navbar links vertically */
}
.social-icon,
.myresume-btn {
  display: inline-block;
  vertical-align: middle; /* Align the icons and button vertically */
 
}

/* Adjust the space between navbar items and the social icons */
.navbar-nav .nav-link {
  padding-right: 20px; /* You can adjust this if needed */
}

.navbar-text .social-icon,
.navbar-text .myresume-btn {
  margin-left: 15px; /* Add spacing if needed between icons and button */
}

/* For large screens, keep navbar items aligned */
@media (min-width: 768px) {
  .navbar-text {
    margin-left: auto; /* Push it to the right side */
  }
}
@media (max-width: 767px) {
  .navbar-text {
    margin-top: 10px; /* Adjust to ensure it doesn't push below */
    margin-left: 0; /* Reset margin for smaller screens */
  }

  .navbar-nav {
    display: block; /* Stack navbar links vertically in mobile */
    align-items: flex-start;
  }

  .social-icon,
  .myresume-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

}
/* ================================*/
.social-icon {
  display: inline-flex;
  margin-left: 0; /* Align with the nav items */
  margin-right: 10px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;

  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: rgba(82, 240, 225,1);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%) ;
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

/* Media query for screens less than 1000px */
@media (max-width: 1000px) {
  .navbar-text button {
    font-size: 10px; /* Adjust the font size for smaller screens */
  }
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
/* ======== to check styles for  " Home/Skills/Proj"   ===*/
.navbar-text {
  display: flex; 
  align-items: center;
  justify-content: flex-start; /* Ensure it aligns to the left */
  gap: 20px; /* Add space between the links */
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  font-size: 18px;
  opacity: 0.75;
  margin-right: auto;
  margin-top: 0;
  padding: 0;
  font-decoration: none;
}

.navbar-text .social-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-icon.visible {
  display: flex; /* Show when visible */
}
.social-icon.hidden  {
  display: none; /* Hide when collapsed */
}

.social-icon-toggle-opened {
  display: none; /* Hidden by default */
  flex-direction: column; /* Stack items in a column */
  color: #fff !important; 
  gap: 0px; 
}

.social-icon-toggle-opened.visible {
  display: flex; /* Show when visible */
}
.social-icon-toggle-opened.hidden  {
  display: none; /* Hide when collapsed */
}

.myresume-btn.visible {
  display: flex; /* Show when visible */
}
.myresume-btn.hidden  {
  display: none; /* Hide when collapsed */
}
.myresume-btn {
  margin-left: 20px; /* Match the margin of navbar items */
}
.navbar-nav .nav-link.navbar-link,
.social-icon-toggle-opened .navbar-link {
  margin: 0;
  padding: 0 20px; /* Ensure similar padding for alignment */
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 1.5rem;
  height: 1.2rem;
  background: none;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;

}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon::after,
nav.navbar .navbar-toggler-icon::before {
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: #fff;
  content: "";
  z-index: 2;
  transition:  all 0.3s ease;
}
nav.navbar .navbar-toggler-icon::before {
  top: 0;
}
nav.navbar .navbar-toggler-icon::after {
  bottom: 0;
}


/* Transform the lines into an "X" when expanded */
.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 50%;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 50%;
}

/* Optional: Hide the middle line */
.navbar-toggler-icon div {
  width: 100%;
  height: 2.2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon div {
  opacity: 0; /* Hide the middle line */
}



.navbar__group {
  display: flex;
  justify-content: space-between; /* Space between logo and toggler */
  align-items: center;
  width: 100%;
  margin-left: auto;
}


/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  /* background-image: url('./assets/img/banner-bg.png'); */
  background-image: url("../assets/img/banner-bg1.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(82, 240, 225, 0.5) -5.91%,
    rgba(41, 22, 68, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

/* my resume button */
.myresume-btn {
  background: transparent !important;
  color: #fff !important;
  font-weight: 700;
  
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.myresume-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90.21deg,
    rgba(82, 240, 225, 1) -5.91%,
    rgba(41, 22, 68, 1) 111.58%
  ) !important;
  transition: left 0.3s ease;
  z-index: 0;
}

.myresume-btn:hover::before {
  left: 0 !important;
}

.myresume-btn:hover {
  background-color: transparent !important;
  color: #fff !important;
}

.myresume-btn span {
  position: relative;
  z-index: 1;
}

/* ************************  */
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 6s linear infinite;
  height: 76vh;
  width: auto;
  padding: 0;
  margin: 0vh -20vh;
}

button[type="submit"] {
  background: linear-gradient(
    90.21deg,
    rgba(41, 22, 68, 1) -5.91%,
    rgba(82, 240, 225, 1) 100%
  ) !important;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background: linear-gradient(
    90.21deg,
    rgba(82, 240, 225, 1) -5.91%,
    rgba(41, 22, 68, 1) 100%
  ) !important;
  filter: brightness(1.1);
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Skills Css ************/
.skill {
  padding: 0 0 1vh 0;
  position: relative;
}
.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 4vh 4.5vh;
  margin-top: -60px;
}
.skill h2 {
  font-size: 45px;
  font-weight: 700;
}
.skill p {
  color: #b8b8b8;
  font-size: 2vh;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 2vh 0 2.5vh 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-image: url("../assets/img/banner-bg1.jpg");
  background-repeat: no-repeat;
}
.project-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #52f0e1ff -5.91%, #291644ff 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.project .nav.nav-pills .nav-item {
  flex: 1;
}

.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  flex-grow: 1;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

.project-card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.project-card-button {
  font-weight: 700;
  color: #fff;
  background-color: #291644 !important;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: #fff !important;
  border-radius: 5px;
  position: relative;
  transition: 0.3s ease-in-out;

  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0 5px;
}

.project-card-button:hover {
  background-color: #2a1b99;
}

.btn-custom:hover {
  background-color: #2a1b99; /* Darker shade for hover effect */
}

/************ Projects Css ************/
.contact {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 60px 0 200px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.projects-color-invert {
  filter: invert(1);
}
.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}
.proj__buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.metroje-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2vh;
}

/************ Footer Css ************/
.footer {
  background-color: black;
  padding: 20px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.blob-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  background: radial-gradient(
    circle at top left,
    rgba(82, 240, 225, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(50px);
  opacity: 0.6;
}

.blob-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 200px;
  background: radial-gradient(
    circle at bottom right,
    rgba(82, 240, 225, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(50px);
  opacity: 0.6;
}

.blob-right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 200px;
  background: radial-gradient(
    circle at center,
    rgba(41, 22, 68, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(50px);
  z-index: -1;
}
.newsletter-bx {
  background: #ffffff;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.title-container {
  min-height: 26vh;
}

/* Flex container to hold buttons and PdfViewer */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.pdf-buttons-container {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
}

.pdf-viewer-container {
  flex: 2;
  min-width: 300px;
  width: 100%;
  height: auto;
  width: 100%;
}

.border-container {
  min-height: auto;
  height: 64vh;
}

@media (max-width: 768px) {
  .border-container {
    height: auto;
  }
}

.vvd {
  background-color: #000000;
  color: white;
  border: 2px solid white;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.vvd::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: left 0.3s ease;
  z-index: 0;
}

.vvd:hover::before {
  left: 0;
}

.vvd span {
  position: relative;
  z-index: 1;
}

.vvd:hover {
  background-color: white;
  color: #000000;
}

@media (max-width: 1020px) {
  .proj-imgbx {
    height: auto;
  }
  .proj-txtx {
    padding: 10px;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    margin: 1rem 0;
  }
  .proj-txtx h4 {
    font-size: 18px;
  }

  .proj-txtx span {
    font-size: 8px;
  }
  .project-card-button {
    padding: 8px 16px;
    font-size: 12px;
    margin-bottom: 3vh;
  }
}

@media (max-width: 770px) {
  .proj-txtx {
    padding: 10px;
    width: 100%;
    flex-direction: column;
  }
  .proj-txtx h4 {
    font-size: 20px;
  }

  .proj-txtx span {
    font-size: 10px;
  }

  .project-card-button {
    padding: 6px 12px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .proj-txtx {
    padding: 10px;
    width: 100%;
  }
  .proj-txtx h4 {
    font-size: 24px;
  }

  .proj-txtx span {
    font-size: 14px;
  }

  .project-card-button {
    padding: 6px 6px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .blob-right-bottom {
    width: 80px; /* Adjust size for smaller screens */
    height: 80px; /* Adjust size for smaller screens */
  }
}
