/* Container for the Carousel */
.skill-slider-Skills {
    height: 40vh; 
  
}

/* Style for each item in the Carousel */
.skill-slider-Skills .skill-card {
 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

/* Style for ProgressBar and Skill text */
.skill-slider-Skills .progress-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

/* Adjust height of ProgressBar if needed */
.skill-slider-Skills .progress-bar-container .progress-bar {
    height: 60%; 
}


.skill-slider-Skills .progress-bar-container h5 {
    margin-top: 10px; 
    text-align: center; }

.skill-slider-Skills .p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}