/* Initial state: white border and white icon on transparent background */
.nav-icon2 {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  background-image: url('../../my-portfolio/src/assets/img/gh-icon.png'); /* Path to your white icon PNG */
  background-size: cover;
  transition: all 0.3s ease;
}

/* Hover state: white background and black icon */
.nav-icon2:hover {
  background-color: white;
  background-image: url('../../my-portfolio/src/assets/img/gh-icon.png'); /* Path to your black icon PNG */
}